$white: #ffffff;
$black: #000000;
$darkgray: #150D0D;
$silver: #C0C0C0;
$gold: #FFD700;
$text: #5E5E5E;
$red: #AF0000;
$blue: #2781EA;

$roboto: 'Roboto', sans-serif;
$kenia: 'Keania One', cursive;
$jura: 'Jura', sans-serif;